/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2018, 2:19:20 PM
    Author     : umansilla
*/

body {
    font-family: 'Lato', sans-serif;
}

* {
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #151719;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0px;
}
#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar ul{
    padding-top: 10px;
}

#sidebar .toggle-btn{
    padding-top: 10px;
    position: absolute;
    left:230px;
    top: 20px;
}



#sidebar .toggle-btn span{
    
    display: block;
    width: 30px;
    height: 5px;
    background:#151719;
    margin: 5px 0px;
   
}

.userName{
    size: 10px;
    padding: 5px;
    margin: 10px;
   
}
.password{
    size: 10px;
    padding: 5px;
    margin: 10px;
}
.current_version{
    size: 10px;
    padding: 5px;
    margin: 10px;
}

.workSpaceId{
    size: 10px;
    padding: 5px;
    margin: 10px;
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

button.borrar{
    background-color: transparent;
    background-image: url(../img/borrar.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    text-indent: -9999px;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}

td.borrar input{
    margin: 10px auto;
    display: block;
}

.activo_check{
    background-color: red!important;
}

.container-fluid{
    padding-left: 200px!important;
    padding-right: 100px!important;
    margin: 10px 0;
}

table thead th.transcripcion{
    width: 90%; 
}

table thead th.origen-destino{
    width: 5%; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
   
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
